<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Hea Hind</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/easySlider1.5.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){	
                $("#slider").easySlider({
                    auto: true, 
                    continuous: true
                });
                $("#slider2").easySlider({
                    auto: true, 
                    continuous: true

                });
                $('#change_city').hide();
                $('#location a').click(function() {
                    $('#change_city').show();
                    $('#location').hide();
                });
                $('#change_city').change(function() {
                    $('#update_locatin').submit();
                });
            });	
        </script>

        <link href="css/slider.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="wrap">
            <div id="topribbon">
                <a href="/">
                <h1 id="sitename"><img src="images/logo.gif" width="133" height="44" /> </h1>
                </a>
                <ul id="nav">
                    <!--                        <li class="active" ><a href="">Home</a></li>
                                            <li><a href="blog">Contact</a></li>-->
                </ul>
                <form id="update_locatin" action="/update_location" typ="GET">
                <p style="font-size: small;text-align:right;" >
                    Your location: <span id="location">{{ city }} (<a href="#"><u>change</u></a>)</span>
                    
                        <select id="change_city" onchange="method(this.value)" class="show" name="city">
                            <option value="{{ city }}" id="{{ city }}" selected="selected">{{ city }}</option>
                            <option value="Tallinn" id="Tallinn">Tallinn</option>
                            <option value="Tartu" id="Tartu">Tartu</option>
                            <option value="Parnu" id="Parnu">Pärnu</option>
                            <option value="Volga" id="Volga">Valga</option>
                            <option value="Viljandi" id="Viljandi">Viljandi</option>
                            <option value="Kuressaare" id="Kuressaare">Kuressaare</option>
                            <option value="Võru" id="Võru">Võru</option>
                            <option value="Rapla" id="Rapla">Rapla</option>
                            <option value="Põlva" id="Põlva">Põlva</option>
                            <option value="Rakvere" id="Rakvere">Rakvere</option>
                            <option value="Haapsalu" id="Haapsalu">Haapsalu</option>
                        </select>
                    
                </p>
                </form>
                <div class="clear"></div>
            </div>

            <div id="content">
                <div id="left">
                    <div id="search">
                        <form method="GET" id="searchform" action="/search?q= {{ query }}">
                            <div>
                                <input id="q" name="q" class="searchfield" type="text" value="{{ query }}" />
                                <input id="searchsubmit" type="image" src="images/search-go.jpg" class="searchgo"  value="" />
                            </div>
                            
                        </form>
                    </div>

                    {% block left %}
                    {% endblock left %}

                    <div id="leftheader"> </div>
                </div>



                <div id="sidebar">
                    <div id="sidebarhead">
                        <h2 class="hide">Sidebar</h2>
                        <img src="images/searchbarext.jpg" width="301px" height="50px"></img>
                    </div>
                    
                    {% block right %}                    
                    {% endblock right %}

                </div>
                <div class="clear"></div>

            </div>
            
        </div>
    </body>
</html>
