<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Price Check - Home</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" media="screen, projection" />
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/easySlider1.5.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){	
                $("#slider").easySlider({
                    auto: true, 
                    continuous: true
                });
                $("#slider2").easySlider({
                    auto: true, 
                    continuous: true

                });			
            });	
        </script>

        <link href="css/slider.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="wrap">
            <div id="topribbon">
                <h1 id="sitename">

                    <!--  <img src="images/cssheaven-logo.gif" width="183" height="32" alt="CSS Heaven | Free CSS Templates" /> </h1>-->

                    <ul id="nav">
                        <li class="active"><a href="">Home</a></li>
                                  

                        <li><a href="blog">Contact</a></li>

                    </ul>
                    <div class="clear"></div>
            </div>

            <div id="content">
                <div id="left">
                    <div id="search">
                        <form method="GET" id="searchform" action="/search?q= {{ query }}">
                            <div>
                                <input id="q" name="q" class="searchfield" type="text" value="{{ query }}" />
                                <input id="searchsubmit" type="image" src="images/search-go.jpg" class="searchgo"  value="" />
                            </div>
                        </form>
                    </div>
                    <p>Your location: <b>{{ city }}</b> (<u>change</u>)</p>

                    {% block left %}
                    {% endblock left %}

                    <div id="leftheader"> </div>
                </div>



                <div id="sidebar">
                    <div id="sidebarhead">
                        <h2 class="hide">Sidebar</h2>
                    </div>
                    
                    {% block right %}                    
                    {% endblock right %}

                </div>
                <div class="clear"></div>

            </div>
            
        </div>
    </body>
</html>
