{% extends "common.html" %}

{% block left %}
<div id="midcolumn_results">
<h2 class="subhead">Price Comparison</h2>
<table id="newspaper-b" summary="2007 Major IT Companies' Profit">
    <thead>
    	<tr>
        	<th scope="col">Product (quantity)</th>
        	{% for retailer_name in retailer_names %}
        	<th scope="col" align="right">{{ retailer_name }}</th>
        	{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for p, q, prices in products_with_prices %}
            <tr>
                <td>{{ p.name }} ({{ q }})</td>
                {% for price in prices %}
                    <td align="right">{{ price }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
        <td align="right"><b>Total:</b></td>
        {% for total in totals %}
            <td align="right"><b>{{ total }}&euro;</b></td>
        {% endfor %}
        </tr>
    </tfoot>
</table>
</div>
{% endblock left %}

{% block right %}
{% include "subscribe.html" %}
{% endblock right %}