{% extends "common.html" %}

{% block left %}
<div id="leftsidebar">

    <h2>Maxima Campaigns</h2>
    <ul id="templatelist">
        <li>
            <h3 class="templatename">Tere Piim</h3>
            <img src="product_images/tere_piim.jpg" width="174" height="101" alt="template" /> 
            <p class="tplinfo">
                Price : 0.60 Euros
                <!--<a href="#" class="morebtn"><span>preview</span></a>-->

            </p>
        </li>



    </ul>
    <div class="previewmore"> <a href="#"><img src="images/more-btm-btn.jpg" width="214" height="49" alt="More" /></a></div>

</div>

<div id="leftsidebar">

    <h2>Prisma Campaigns</h2>
    <ul id="templatelist">
        <li>
            <h3 class="templatename">Tere Piim</h3>
            <img src="product_images/tere_piim.jpg" width="174" height="101" alt="template" /> 
            <p class="tplinfo">
                Price : 0.60 Euros
                <!--<a href="#" class="morebtn"><span>preview</span></a>-->

            </p>
        </li>



    </ul>
    <div class="previewmore"> <a href="#"><img src="images/more-btm-btn.jpg" width="214" height="49" alt="More" /></a></div>

</div>

<div id="leftsidebar">

    <h2>Rimi Campaigns</h2>
    <ul id="templatelist">
        <li>
            <h3 class="templatename">Tere Piim</h3>
            <img src="product_images/tere_piim.jpg" width="174" height="101" alt="template" /> 
            <p class="tplinfo">
                Price : 0.60 Euros
                <!--<a href="#" class="morebtn"><span>preview</span></a>-->

            </p>
        </li>



    </ul>
    <div class="previewmore"> <a href="#"><img src="images/more-btm-btn.jpg" width="214" height="49" alt="More" /></a></div>

</div>
{% endblock left %}

{% block right %}
{% include "wish_list.html" %}
{% include "login.html" %}
{% include "subscribe.html" %}
{% endblock right %}