<div>
    <form action='/search?q= {{ query }}' method=GET >
    	<input id="q" name="q" value="{{ query }}" type="text">
    	<input type='submit' value="Search">
	</form>
</div>
<div>Products</div>
<br/>
{% for p in products %}
<div>{{ p.name }} : {{ p.price }} <form action='/add' method=GET><input type='submit' value='Add to WishList' /><input type='hidden' name='product_id' value='{{ p.id }}'></form></div>
{% endfor %}

<div>WishList:</div>
{% for p in wish_list.products %}
<div>
    {{ p.name }} : {{ p.price }}
    <form action='/remove' method=GET><input type='submit' value='Remove' /><input type='hidden' name='product_id' value='{{ p.id }}'></form>
</div>
{% endfor %}
