{% extends "common.html" %}

{% block left %}

<div id="midcolumn_results">
<h2 class="subhead">Search Results</h2>
<div class="post">
<h3>Pere Munad</h3>
<!--<p class="postinfo">by Roshan, Posted on 26 Dec, 2009. </p>-->
<p>Tallegg, sold in 12 packs </p>
<div class="postbottom">
<a href="#" class="morebtn"><span>Add to Wish List</span></a>
<div class="clear"></div>
</div>

</div>
</div>

{% endblock left %}

{% block right %}
{% include "wish_list.html" %}
{% include "subscribe.html" %}
{% endblock right %}