{% extends "common.html" %}

{% block left %}

<div id="midcolumn_results">
    <h2 class="subhead">Search Results</h2>
    {% for p in products %}
    <div class="post">
        {% if p.image %}
            <img src="/product_images/{{ p.image }}"  height="90" width="90" />
        {% else %}
            <img src="/product_images/no_image.gif" height="90" width="60" />
        {% endif %}
         <form action='/add' method=GET>
            <input type='hidden' name='product_id' value='{{ p.id }}' />
            <input type='text' name='quantity' size="2" maxlength="2" />
            X <b>{{ p.name }}</b>
            <input type='submit' value='Add to Wish List' />
        </form>
        
        <div class="postbottom">
<!--            <a href="#" class="morebtn"><span>Add to Wish List</span></a>-->
            <div class="clear"></div>
        </div>
       
    </div>
    {% endfor %}
</div>

{% endblock left %}

{% block right %}
{% include "wish_list.html" %}
{% include "login.html" %}
{% include "subscribe.html" %}
{% endblock right %}