<h2>Subscribe</h2>
<div class="sidebar-container">
    <form action="http://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=RSFeeds', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">

        <label>Enter your email address:</label>
        <div class="fieldcontainer">
            <input  name="email" type="text" class="txtfield"/></p><input type="hidden" value="RSFeeds" name="uri"/><input type="hidden" name="loc" value="en_US"/>
        </div>
        <div><input type="image" src="images/subscribe.jpg" value="Subscribe" /></div></form></div>