<h2>Wish List</h2>
<div class="sidebar-container">
    <ul id="forum_list">
        {% for p, q in wish_list.products %}
        <li>
            <p>
                
                {# <span class="last">Remove</span> #}
                <span class="lastdate"></span>
                <form action='/update' method=GET>
                     <input type='text' name='quantity' size="2" maxlength="2" value='{{ q }}'  />
                    <input type='hidden' name='product_id' value='{{ p.id }}'>
                    X {{ p.name }} ({{ q }})
<!--                    <span class="title">{{ p.name }} ({{ q }})</span>-->
                   
                    <input type='submit' value='Update' style="float: right" />
                </form>
            </p>
        </li>
        {% endfor %}
    </ul>
    <big><u><a href="/compare">Compare Prices</a></u></big>
</div>